Source: ros-indigo-rqt-tf-tree
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-mock, ros-indigo-catkin
Homepage: http://wiki.ros.org/rqt_tf_tree
Standards-Version: 3.9.2

Package: ros-indigo-rqt-tf-tree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-indigo-geometry-msgs, ros-indigo-python-qt-binding (>= 0.2.19), ros-indigo-qt-dotgraph, ros-indigo-rospy, ros-indigo-rqt-graph, ros-indigo-rqt-gui, ros-indigo-rqt-gui-py, ros-indigo-tf2, ros-indigo-tf2-msgs, ros-indigo-tf2-ros
Description: rqt_tf_tree provides a GUI plugin for visualizing the ROS TF frame tree.
